@loup:registry=https://pkgs.dev.azure.com/weareloup/_packaging/Stalker.Web.UI-Components/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/weareloup/_packaging/Stalker.Web.UI-Components/npm/registry/:username=weareloup
//pkgs.dev.azure.com/weareloup/_packaging/Stalker.Web.UI-Components/npm/registry/:_password=b3V3N25zanhkbmcyY29rd2RtenUzank3Ym1odWJ1dm5naG5jeW16aGd4aWxoeDc2NHR2YQ==
//pkgs.dev.azure.com/weareloup/_packaging/Stalker.Web.UI-Components/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/weareloup/_packaging/Stalker.Web.UI-Components/npm/:username=weareloup
//pkgs.dev.azure.com/weareloup/_packaging/Stalker.Web.UI-Components/npm/:_password=b3V3N25zanhkbmcyY29rd2RtenUzank3Ym1odWJ1dm5naG5jeW16aGd4aWxoeDc2NHR2YQ==
//pkgs.dev.azure.com/weareloup/_packaging/Stalker.Web.UI-Components/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

